/*************CLASS SELECTORS*************/
.container-fluid {
  padding: 3% 15% 7%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.testimonial-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.pricing-column {
  padding: 3% 2%;
}

.cta-heading {
  font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;
   line-height: 1.5;
   font-weight: 900;
}

.social-icon {
  font-size: 1.5rem;
  margin: 20px 10px;
}

/*************ID SELECTORS*************/
#title {
  background-color: #ff4c68;
  color: #ffff;
}

#features {
  background-color: #ffff;
  padding: 7% 15%;
  position: relative;
}

/*************TESTIMONIAL SECTION*************/
#testimonials {
  background-color: #ef8172;
  color: #ffff;
  text-align: center;

}

/*************PRESS SECTION*************/
#press {
  background-color: #ef8172;
  text-align: center;
  padding: 3%;
}

/*************PRICING SECTION*************/
#pricing {
  padding: 100px;
  text-align: center;
}


/*************TAG SELECTORS*************/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Montserrat', sans-serif;
   font-size: 3rem;
   line-height: 1.5;
   font-weight: 900;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/*************NAVIGATION BAR*************/

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  text-align: right;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}


/*************DOWNLOAD BUTTON*************/
.download-button {
  margin: 5% 3% 5% 0;
}

/*************CTA SECTION*************/
#cta {
  background-color: #ff4c68;
  color: #ffff;
  padding: 7% 15%;
  text-align: center;
}

/*************FOOTER SECTION*************/
#footer {
  padding: 3% 15% 0;
  text-align: center;
}

/*************TITLE IMAGE*************/
.title-image {
  width: 48%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 965px){

  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
